.animate {
    /* Stroke-dasharray property */
    stroke-dasharray: 1800px;
    stroke-dashoffset: 1800px;
    animation: move 5s ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes move {
    100% {
        stroke-dashoffset: 0;
    }
}
